<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Rye&family=Tagesschrift&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&family=Tagesschrift&display=swap" rel="stylesheet">

    <style>
        header {
            font-family: 'Abril Fatface';
            background-color: rgb(101, 155, 113);
            color: black;
            padding: 1rem 0;
            text-align: center;
            text-shadow: 0 0 3px white;
        }

        h2 {
            font-family: "Rye", serif;
            text-align: center;
            text-decoration: underline;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            background-color: whitesmoke;
            padding: 10px;
        }

        .grid-container>div {
            background-color: #f1f1f1;
            text-align: left;
            padding: 10px;
            font-size: 15px;
        }

        .item1 {
            grid-column: 1 / span 2;
        }

        .item3 {
            grid-column: 1 / span 2;
        }

        .item5 {
            grid-column: 1 / span 2;
        }

        .item7 {
            grid-column: 1 / span 2;
        }

        .item9 {
            grid-column: 1 / span 2;
        }

        .item11 {
            grid-column: 1 / span 2;
        }

        .item13 {
            grid-column: 1 / span 2;
        }

        .item15 {
            grid-column: 1 / span 2;
        }

        .item17 {
            grid-column: 1 / span 2;
        }

        body {
            font-family: "Tagesschrift", system-ui;
            text-align: left;
            font-size: 30px;
        }

        footer {
            font-family: 'Abril Fatface';
            text-align: center;
            padding: 1rem 0;
            background-color: black;
            color: white;
            margin-top: 2rem;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Welcome to Sacred Circle Macikwanâsa</h1>
        <nav aria-label="Main navigation">
            {% if is_authenticated %}
            <h1>Welcome, {{ username }}!</h1>
            <form method="POST" action="/logout/">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <p><a href="/home/">Home</a> | <a href="/signup/">Sign Up</a> | <a href="/login/">Login</a> </p>
            {% endif%}
            <a href="/about/">About</a> | <a href="/products/">Products</a> | <a href="/faq/">FAQ</a> | <a
                href="/contact/">Contact</a>
        </nav>
    </header>

    <div class="grid-container">
        <div class="item1">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r-1491419731478281848&th=196650855624b334&view=fimg&fur=ip&permmsgid=msg-a:r-1491419731478281848&sz=s0-l75-ft&attbid=ANGjdJ8CaTCITSQ8rZrB3XWjd3fe3p0SVjlf9EyB-rI-h7oQVxVSW_itotyXBFkJalD11B__aM6mHLUPCpB4N4H_Y9osxGQJfa5g_AdQVy9PkCYHz8j1WS4k8QMIxBQ&disp=emb&realattid=3034419A-20AC-4A5C-AEEB-BCCA7B23E206&zw"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: green;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Chief's Ambrosia</h2>
            <ul>
                <li>Caramelized honey, orange & clove mead.</li>
                <li>Type: Metheglin/Melomel</li>
                <li>14% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $24.99</button>
            </p>
        </div>

        <div class="item2">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r-3346358501543158164&th=19664bbe28a1dcda&view=att&disp=safe&realattid=f_m9uhxfjj0&zw"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Chief Cleetus
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li><u>Age: </u>
                    3 years & 4 months
                </li><br>
                <li><u>Breeds:</u>
                    Cane Corso, German Shepherd, Bernese Mountain Dog,
                    American Pitbull Terrier, American Bulldog, & Bullmastiff </li><br>
                <li><u>Favourite Activities:</u>
                    Car Rides, Chasing Cats, Watching Birds</li><br>
                <li><u>Favourite Foods:</u>
                    Cheese, Eggs, Honey, Treats
                </li>
            </ul>

            </p>
        </div>

        <div class="item3">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r2817575545903672133&th=1966516bf36f297f&view=att&disp=safe&realattid=f_m9ulh5190&zw"
                style="height: 300px;
              border: 10px double black;
              padding: 10px;
              margin: 20px auto;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: orange;
              border-radius: 5px;
              box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Big Blue Chew</h2>
            <ul>
                <li>Blueberry Honey Mead.</li>
                <li>Type: Melomel</li>
                <li>12.5% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $22.99</button>
            </p>
        </div>
        <div class="item4">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r-2867657051720765950&th=1966645dd89e6774&view=fimg&fur=ip&permmsgid=msg-a:r-2867657051720765950&sz=s0-l75-ft&attbid=ANGjdJ_QkwUJ3u7-HX-ePqVzI4vyP-Lr0UzdkAYlxUqllu-TNiiNNnhvD8h-q7wys2bdREElZDyeXKHfTWuJv5fC9aZb8Ot7yqfw5SCIdOwuEhD-c0tp1i-49L-OZqU&disp=emb&realattid=7218A66B-EA23-4AEC-A23B-EF63E4CED9B6&zw"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Chewy
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li><u>Age: </u>
                    8 years
                </li><br>
                <li><u>Breeds:</u>
                    Pitbull & Bullmastiff </li><br>
                <li><u>Favourite Activities:</u>
                    Chewing on my bone, Playing with my sister Zeyda, Walks</li><br>
                <li><u>Favourite Foods:</u>
                    Bluberries, Carrots, Treats
                </li>
            </ul>
            </p>
        </div>

        <div class="item5">
            <img src="https://cdn.pixabay.com/photo/2017/04/04/17/34/food-2202366_1280.jpg" style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Belve's Elixir</h2>
            <ul>
                <li>Cranberry Orange Honey Mead.</li>
                <li>Type: Melomel</li>
                <li>13% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $23.99</button>
            </p>
        </div>

        <div class="item6">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r9157719440190038679&th=19668e8d1976686a&view=fimg&fur=ip&permmsgid=msg-a:r9157719440190038679&sz=s0-l75-ft&attbid=ANGjdJ-H0Cx0ETmGun_lUaQmtJ0ZhTuzl5i2ENWYsJC-ZgdCnJb18ObdinwDg8q49rnEcoxQInnWkrP8n_O6BAOxKAwC88niiYW5Iu7MGxUBplF4im2WRaFK_RBFSV8&disp=emb&realattid=B7E3A8CF-BF37-487C-95F1-B23282FCC76B&zw"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Belvedere
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li>
                    <u>Age: </u>
                    2 years
                </li><br>
                <li><u>Breed:</u>
                    English mastiff </li><br>
                <li><u>Favourite Activities:</u>
                    Stealing my moms dirty laundry, chasing the goats and destroying all of my toys</li><br>
                <li><u>Favourite Foods:</u>
                    Deer Legs, Quail Eggs, & The Cheese Tax
                </li>
            </ul>
            </p>
        </div>

        <div class="item7">
            <img src="https://img.freepik.com/free-photo/delicious-kombucha-drink-arrangement_23-2148895726.jpg?ga=GA1.1.149103889.1745546485&semt=ais_hybrid&w=740"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Spazzarooni's Special Blend</h2>
            <ul>
                <li>Apple Mint Honey Mead.</li>
                <li>Type: Metheglin/Melomel</li>
                <li>11% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $20.99</button>
            </p>
        </div>

        <div class="item8">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r6435620019140320391&th=196a2934bd77c59d&view=fimg&fur=ip&permmsgid=msg-a:r6435620019140320391&sz=s0-l75-ft&attbid=ANGjdJ9RxSXk2TPsikDGHhBRqkhzowhhWmUOOAsPqhnNxlUAYWnqqan919QEDTptDmdubHGcjrJFn3VsXUetn3cwiSrdzIlSjElogaFuv8pUsIdBXE3TbBDGuW4Nq94&disp=emb&realattid=D0EBA6E1-7530-4556-B292-384B72BF44B4&zw"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Spazz
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li>
                    <u>Age: </u>
                    10 years
                </li><br>
                <li><u>Breeds:</u>
                    Boston Terrier, Chihuahua, & Jack Russel </li><br>
                <li><u>Favourite Activities:</u>
                    Naps with my mom, Sun bathing, & Snackies</li><br>
                <li><u>Favourite Foods:</u>
                    Carrots, Cheese, & Watermelon
                </li>
            </ul>
            </p>
        </div>
        <div class="item9">
            <img src="https://img.freepik.com/premium-photo/coffee-cup-table_1048944-30277333.jpg?ga=GA1.1.149103889.1745546485&semt=ais_hybrid&w=740"
                style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Diezels Oil Leak</h2>
            <ul>
                <li>Blackberry Caramelized Honey Mead.</li>
                <li>Type: Melomel</li>
                <li>15% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $25.99</button>
        </div>

        <div class="item10">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r2847377968814257710&th=196a28f3a59022b1&view=fimg&fur=ip&permmsgid=msg-a:r2847377968814257710&sz=s0-l75-ft&attbid=ANGjdJ9kAdTVtnet-XmiVgGK_VQa5nwe4O7f8cATCpY0PFCIYkUMyGvYxF34bTlYdlFFRmRPrjlAQ41InhSFreC2FZwz3TEjjDSTw7YymgNsfHeqT9cWk6Jus2ItN2k&disp=emb&realattid=2D4F56B9-3430-4254-B094-3241E79E72A1&zw"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Diezel
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li>
                    <u>Age: </u>
                    2 years
                </li><br>
                <li><u>Breed:</u>
                    Black Labrador </li><br>
                <li><u>Favourite Activities:</u>
                    Playing fetch, playing with others & walks</li><br>
                <li><u>Favourite Foods:</u>
                    Anything!... Carrots, Lettuce, & Watermelon
                </li>
            </ul>
            </p>
        </div>
        <div class="item11">
            <img src="https://free-images.com/md/e2c5/a_glass_ethiopian_mead.jpg" style="height: 300px;
            border: 10px double black;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            border-radius: 5px;
            box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Grizz's Sparkling Golden Delight</h2>
            <ul>
                <li>Sparkling Golden Apple Caramelized Honeywine.</li>
                <li>Type: Sparkling Show Mead</li>
                <li>21% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $26.99</button>
        </div>
        <div class="item12">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r-7586199671787122614&th=196a20712dc8639c&view=fimg&fur=ip&permmsgid=msg-a:r-7586199671787122614&sz=s0-l75-ft&attbid=ANGjdJ-yt4aS2WN4My3b2N-GpN-fCVhCCBzPVMtUzdC3kvhuxVwZo5yr4pTXYunBI6AXiIRgGW8KXiWvOqsXsYhvNduywvwjhQo0ZIXb3XYRrkHAdFN3gLPujvHBn1Q&disp=emb&realattid=14E42D8C-341C-442D-AC0A-8DF9E9E3F4CD&zw"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Grizzy
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Female
                </li><br>
                <li>
                    <u>Age: </u>
                    4 years
                </li><br>
                <li><u>Breed:</u>
                    Corgi </li><br>
                <li><u>Favourite Activities:</u>
                    Fishing, Hunting, and Playing Frisbee.<br></li><br>
                <li><u>Favourite Foods:</u>
                    Apples, Cheese & Raw Meat. <br>
                </li>
            </ul>
            </p>
        </div>
        <div class="item13">
            <img src="https://media.istockphoto.com/id/1135274345/photo/mead-and-pancakes-russian-dish-for-shrove-tuesday-farewell-to-winter.jpg?s=612x612&w=0&k=20&c=XAMnj0gQOAey3W5gwFhF0D4x_fc9ZuKqAyfRPCLRoSs="
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Remi's Classic Enchantment</h2>
            <ul>
                <li>Classic Oaked Honeymead</li>
                <li>Type: Oak Aged Show Mead</li>
                <li>22% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $28.99</button>
        </div>
        <div class="item14">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r1582877768966176045&th=196a2075074aa70c&view=fimg&fur=ip&permmsgid=msg-a:r1582877768966176045&sz=s0-l75-ft&attbid=ANGjdJ-9lo_2d6RYJBq4huT-_A_Sp1oWklw4-L1DaojBSzubl3txAuXZzR2SZHb7mgvy4Wk8hkWC4tpZ96MyWdRm0nwhSW4NII7m7ZdeF0HR8CE5sDVtG-3jDN-TP9o&disp=emb&realattid=E9BD7AA8-B649-40DD-B3B8-411C88F397E1&zw"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Remington
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li>
                    <u>Age: </u>
                    3 years
                </li><br>
                <li><u>Breed:</u>
                    Corgi </li><br>
                <li><u>Favourite Activities:</u>
                    Biking, Boating & Swimming.<br></li><br>
                <li><u>Favourite Foods:</u>
                    Carrots, Cheese & Raw Meat. <br>
                </li>
            </ul>
            </p>
        </div>
        <div class="item15">
            <img src="https://img.freepik.com/premium-photo/herbal-tea-with-honey-wooden-table_853928-6.jpg?ga=GA1.1.149103889.1745546485&semt=ais_hybrid&w=740"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Zeyda's Rosemary Indulgence</h2>
            <ul>
                <li>Rosemary Honeymead</li>
                <li>Type: Metheglin</li>
                <li>17% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $21.99</button>
        </div>
        <div class="item16">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r9034865828467979768&th=196a69ebc4c11315&view=fimg&fur=ip&permmsgid=msg-a:r9034865828467979768&sz=s0-l75-ft&attbid=ANGjdJ8SlfJCJNDbdXXdrjt_QaTMlG-ELZhCX7GyKvKqa861Fer1-4fguKFCFwJRpt_XtCRIHcz4zuNNHYIjIDdyjdCrLGMX7MeRjL-FTjMW2WtxJqLT1baPUu9IDg8&disp=emb&realattid=1266AAED-63FC-4BAE-9334-DB0EB13BF25B&zw"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Zeyda
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Female
                </li><br>
                <li>
                    <u>Age: </u>
                    2 years
                </li><br>
                <li><u>Breed:</u>
                    unknown Mixed breeds </li><br>
                <li><u>Favourite Activities:</u>
                    Playing Fetch, Running & the zoomies.<br></li><br>
                <li><u>Favourite Foods:</u>
                    Duck, Strawberries, and Pork. <br>
                </li>
            </ul>
            </p>
        </div>
        <div class="item17">
            <img src="https://img.freepik.com/premium-photo/flower-honey-glass-jar-dandelions-wooden-table_286393-3151.jpg?ga=GA1.1.149103889.1745546485&semt=ais_hybrid&w=740"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>Sunny's Dandelion Delicacy</h2>
            <ul>
                <li>Caramelized Honey Dandelion Mead</li>
                <li>Type: Metheglin</li>
                <li>12.5% ABV</li>
                <li>Sold in 750mL bottles.</li>
            </ul>
            <button>Click here to purchase for $22.99</button>
        </div>
        <div class="item18">
            <img src="https://mail.google.com/mail/u/0?ui=2&ik=2c53434a31&attid=0.1&permmsgid=msg-a:r-3255701422214840686&th=196a69299ee6c6c9&view=fimg&fur=ip&permmsgid=msg-a:r-3255701422214840686&sz=s0-l75-ft&attbid=ANGjdJ96p9vwL7vzbiEGZgIhE55-bLoMU0f7EPVVm6N1Aq5Lp0pvz0VZs618cJivVKiHHhZBfqQMdVaUYR9-JnyV4jx1fzfhFEbI2goliWMMyDAAQPBfIcCMv1PkH08&disp=emb&realattid=EB3116E6-8B54-4BD3-9C79-70584D60E519&zw"
                style="height: 300px;
                border: 10px double black;
                padding: 10px;
                margin: 20px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: orange;
                border-radius: 5px;
                box-shadow: 10px 10px 100px gold">
            <p>
            <h2>
                Sunny
            </h2>
            <ul>
                <li>
                    <u>Gender: </u>
                    Male
                </li><br>
                <li>
                    <u>Age: </u>
                    2 years
                </li><br>
                <li><u>Breed:</u>
                    Pitbull </li><br>
                <li><u>Favourite Activities:</u>
                    Walks, car rides, & sleeping.<br></li><br>
                <li><u>Favourite Foods:</u>
                    Anything that isn’t a vegetable <br>
                </li>
            </ul>
            </p>
        </div>
    </div>
    </div>
    </div>




    <footer>
        <p>&copy;
            We acknowledge that we live, play, and work on the traditional unceded lands of the Dënéndeh, Dakeł Keyoh,
            and Lheidli T'enneh. <br>
            2025 CapstoneProject. All rights reserved.</p>
    </footer>
</body>

</html>